// UTILITY SIZES
$ut-s: 0.5rem;
$ut-m: 1rem;
$ut-l: 2rem;
$ut-xl: 4rem;

// BREAKPOINTS
$bp-s: 600px; 		// 300px 	-	600px	Phone
$bp-m: 800px; 		// 601px	-	800px	Tablet portrait
$bp-l: 900px; 		// 801px	-	900px	Tablet landscape
$bp-xl: 1200px; 	// 901px	-	1200px	Desktop
$bp-xxl: 1800px; 	// 1201px	-	1800px	Desktop big

// COLORS

// FONTS

// SHADOWS