// PADDINGS
.pt-s {padding-top: $ut-s !important;}
.pt-m {padding-top: $ut-m !important;}
.pt-l {padding-top: $ut-l !important;}
.pt-xl {padding-top: $ut-xl !important;}

.pb-s {padding-bottom: $ut-s !important;}
.pb-m {padding-bottom: $ut-m !important;}
.pb-l {padding-bottom: $ut-l !important;}
.pb-xl {padding-bottom: $ut-xl !important;}

// MARGINS
.mt-s {margin-top: $ut-s !important;}
.mt-m {margin-top: $ut-m !important;}
.mt-l {margin-top: $ut-l !important;}
.mt-xl {margin-top: $ut-xl !important;}

.mb-s {margin-bottom: $ut-s !important;}
.mb-m {margin-bottom: $ut-m !important;}
.mb-l {margin-bottom: $ut-l !important;}
.mb-xl {margin-bottom: $ut-xl !important;}

// ALIGNMENTS

